{
  "IMAGE_WIDTH": 128,
  "IMAGE_MAX_AGE": 86400,
  "DELETE_DAYS": 2,

  "S3ENDPOINT": "http://localhost:8000",
  "S3ACCESSKEYID": "S3RVER",
  "S3SECRETACCESSKEY": "S3RVER",
  "S3BUCKETNAME": "avatar-star",

  "PROXY_HOST": "your-proxy-host.com",
  "PROXY_PORT": 1234,
  "PROXY_AUTH": "your-proxy-auth"
}
